main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.about-us,
.what-we-offer {
  flex-grow: 1 !important;
  flex-shrink: 0;
}

.aboutus {
  background-color: #050f17;
  position: relative;
  margin-top: var(--nav-height);
  padding-left: 20px;
  padding-right: 20px;
}

.about-us-text h1 {
  color: #ffefce;
}

.about-us-text p {
  color: #ffefce;
  line-height: 1.8;
  margin-top: 20px;
}

.aboutus .box,
.offer {
  margin-top: 60px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.box11 {
  background: #0f2a3d;
  border-radius: 12px;
  color: var(--hover-color);
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center;
  padding: 24px;
  width: 100%;
}

.box11:nth-child(1) {
  transition-delay: 1s;
}

.box11:nth-child(2) {
  transition-delay: 2s;
}

.box11:nth-child(3) {
  transition-delay: 3s;
}

.appear {
  opacity: 1;
}

.box11 .header-about h1 {
  text-align: center;
  margin: 10px;
  color: #ffefce;
}

.box11 .statements p {
  margin: 0.5rem 0 1rem 0;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffefce;
  line-height: 1.6;
  text-align: center;
}

.box11 span {
  color: var(--nav);
  font-size: 3rem;
}

.box11:hover {
  transform: translateY(-0.7rem);
  transition: 2ms;
}

/*//////css for what can we offer //////////////////////////////*/
.what-we-offer {
  /* width: 100%;
  min-height: 73vh; */
  background: var(--secon-bg-color);
  padding-left: 20px;
  padding-right: 20px;
}

.what-we-offer h1 {
  text-align: center;
  color: #ffefce;
}

.offer1 {
  background-color: var(--bg-color);
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  padding: 48px 24px;
}

.offer1:nth-child(1) {
  transition-delay: 1s;
}

.offer1:nth-child(2) {
  transition-delay: 1.5s;
}

.offer1:nth-child(3) {
  transition-delay: 2s;
}

.offer1.appear {
  opacity: 1;
}

.offer-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-img img {
  object-fit: contain;
  border-radius: 10px;
  height: 150px;
  width: 200px;
}

.offer h1 {
  text-align: center;
  margin: 16px;
  color: #ffefce;
  font-size: 20px;
  font-weight: 400;
}

.offer p {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #bdbdbd;
  line-height: 1.6;
  text-align: center;
  word-wrap: break-word;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ref {
  margin-top: 40px;
}

.offer1:hover {
  transform: translateY(-0.7rem);
  transition: 2ms;
}

.special-franko {
  text-align: center;
  margin-top: 56px !important;
}
