#map {
  height: 400px;
  width: 60%;
}

.maps {
  flex: 1 1 auto;
  margin-top: var(--nav-height);
  background: #050f17;
  padding-left: 20px;
  padding-right: 20px;
}

.maps-details {
  display: flex;
  gap: 4em;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: center;
}

.maps h2 {
  color: var(--text);
  font-size: 30px;
  font-weight: 500;
  padding-top: 40px;
  text-align: center;
}

.contents-for-left {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.contents-for-left .conts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.conts span {
  padding-right: 30px;
  font-size: 40px;
  color: var(--nav);
}

.conts h1 {
  color: var(--text);
  font-size: 18px;
  padding-top: 10px;
  font-weight: 400;
}

.social-media-links {
  margin-top: 60px;
}

.social-media-links h1 {
  color: var(--text);
  font-weight: 400;
}

.media {
  display: flex;
  gap: 1em;
}

.whatsapp-button i {
  color: var(--nav);
  font-size: 52px;
  margin-top: 13px;
}

.whatsapp-button-container {
  display: flex;
  flex-direction: column;
}

.whatsapp-button-container span {
  position: absolute;
  color: var(--hover-color);
  margin-right: 40px;
  transform: rotate(20deg) translateX(10px);
  opacity: 0;
}

.whatsapp-button-container:hover .whatsapp-button i {
  transform: rotate(0deg) translateX(0px);
}

.whatsapp-button-container:hover .whatsapp-button span {
  transform: rotate(20deg) translateX(10px);
  opacity: 1;
  transition: all 400ms;
}
