.talk {
  background: var(--bg-color);
  margin-top: var(--nav-height);
}

.first-part {
  h1 {
    font-size: 40px;
  }

  p {
    margin-top: 20px;
    line-height: 1.8;
  }
}

.seccond-part img {
  object-fit: contain;
}

/*///////////////// About us section for /////////////////////////////*/

#software-engieneering {
  background: #050f17;
  padding-left: 20px;
  padding-right: 20px;
}

.hr {
  height: 1px;
  width: 100%;
  background: rgb(218, 165, 32);
  background: linear-gradient(
    90deg,
    rgba(218, 165, 32, 0) 0%,
    rgba(218, 165, 32, 0.500437675070028) 25%,
    rgba(218, 165, 32, 1) 50%,
    rgba(218, 165, 32, 0.5032387955182073) 75%,
    rgba(218, 165, 32, 0) 100%
  );
  margin: 80px auto;

  @media (max-width: 768px) {
    margin: 40px auto;
  }
}

.soft-text h2 {
  font-size: 30px;
  color: var(--text);
  text-align: center;
  margin-bottom: 24px;
}

.se-content {
  gap: 60px;

  p {
    line-height: 1.8;
  }
}

.se-img {
  flex-shrink: 0;
  text-align: center;

  img {
    width: 100%;
    max-width: 400px;
    object-fit: contain;

    @media (max-width: 992px) {
      margin-top: 20px;
    }
  }
}

.se h2 {
  color: var(--text);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 12px;
}

.programs {
  margin-top: 32px;
  gap: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.program1 {
  background: var(--bg-color);
  border-radius: 12px;
  border-bottom: 10px solid goldenrod;
  border-top: 10px solid goldenrod;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  text-align: center !important;
  padding: 48px;
}

.program1.appear {
  opacity: 1;
}

.program1:nth-child(1) {
  transition-delay: 1s;
}

.program1:nth-child(2) {
  transition-delay: 1.5s;
}

.program1:nth-child(3) {
  transition-delay: 2s;
}

.program1:hover {
  transform: translateY(-0.7rem);
  transition: 2ms;
}

.info {
  margin-top: 10px;
}

.info h1 {
  color: var(--text);
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  word-wrap: break-word;
}

.info p {
  color: var(--text);
  text-align: center;
  font-size: 17px;
  font-weight: 400;
}

/* /////////////////////other branches in it//////////////////////////*/

/* .other-side-attraction .intro-text h1 {
  text-align: center;
  color: var(--text);
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}

.other-side-attraction .intro-text p {
  color: var(--text);
  font-size: 15px;
  font-weight: 400;
  width: 70%;
  margin-left: 200px;
} */

/* .others-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  flex-wrap: wrap;
  gap: 3em;
} */
/* 
.others1 {
  height: 360px;
  width: 300px;
  background: var(--bg-color);
  border-radius: 10px;
  border-bottom: 5px solid goldenrod;
  border-top: 5px solid goldenrod;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.others1.appear {
  opacity: 1;
}

.others1:nth-child(1) {
  transition-delay: 1s;
}

.others1:nth-child(2) {
  transition-delay: 1.5s;
}

.others1:nth-child(3) {
  transition-delay: 2s;
}
.others1:nth-child(4) {
  transition-delay: 1s;
  margin-bottom: 60px;
}
.others1:nth-child(5) {
  transition-delay: 1.5s;
  margin-bottom: 60px;
}
.others1:nth-child(6) {
  transition-delay: 2s;
  margin-bottom: 60px;
}

.others1:hover {
  transform: translateY(-0.7rem);
  transition: 2ms;
} */

/* .imgss {
  display: flex;
  justify-content: center;
}

.imgss img {
  object-fit: contain;
  height: 150px;
  width: 250px;
}

.others1 h1 {
  color: var(--text);
  text-align: center;
  font-size: 20px;
  padding: 10px;
  font-weight: 500;
}

.others1 p {
  color: var(--text);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
} */

/* /////////////////////german lessons styling styling//////////////////////////*/

#german-lessons {
  background: var(--whitesmoke-col);
  padding-left: 20px;
  padding-right: 20px;
}

.german-lesons-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.german-lesons-head h1 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 400;
  margin: 0 8px;
}

img.german-flag {
  height: 70px;
  width: 70px;
  object-fit: contain;
}

.preamble {
  text-align: center;
  color: var(--text-color);
  margin-bottom: 72px;
}

.german-contents {
  flex-wrap: wrap;
  gap: 20px;
}

.germanlessons {
  background: var(--secon-bg-color);
  border-radius: 12px;
  border-bottom: 5px solid goldenrod;
  border-top: 5px solid goldenrod;
  padding: 48px 24px;

  @media (max-width: 767.98px) {
    margin-bottom: 20px;
  }
}

.germanlessons:hover {
  transform: translateY(-0.7rem);
  transition: 2ms;
}

.german-info h1 {
  margin-bottom: 7px;
  margin-top: 7px;
  font-size: 25px;
  color: var(--text);
  text-align: center;
}

.german-info p {
  font-size: 15px;
  color: var(--text);
  text-align: center;
}

.german-image img {
  width: 300px;
  object-fit: contain;
}

/*/////////////////////////styles for the career paths//////////////////*/
.career-paths {
  background: #050f17;
  padding-left: 20px;
  padding-right: 20px;
}

.paths {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4em;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.path-item {
  @media (max-width: 992px) {
    & + .path-item {
      margin-top: 24px;
    }
  }
}

.path-item h2 {
  color: var(--text);
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.career-paths h1 {
  font-size: 30px;
  margin-bottom: 24px;
}

/* -------------------------------- */

.stages-title {
  margin-top: 80px;
}

.stages-title h1 {
  color: var(--nav);
}

.stages-title p {
  color: var(--text);
  margin-top: -20px;
  margin-bottom: 56px;
}

.stages {
  gap: 20px;
  flex-wrap: wrap;
}

.stage {
  width: 100%;
  background: white;
  border-radius: 12px;
  padding: 24px;
  margin-bottom: 20px;
}

.stage:nth-child(1) {
  background: whitesmoke;
}

.stage:nth-child(2) {
  background: whitesmoke;
}

.stage:nth-child(3) {
  background: whitesmoke;
}

.stage:hover {
  transform: translateY(-0.7rem);
  transition: 2ms;
}

.stage h1 {
  font-size: 40px;
  font-weight: 800;
  color: var(--nav-background);
}

.stage h2 {
  font-size: 20px;
}

.stage h1,
h2 {
  text-align: center;
  padding: 5px;
  color: var(--third-background);
}

.stage p {
  color: var(--third-background);
  text-align: center;
}

/* @media screen and (max-width: 768px) {
  
  .message {
    width: 100%;
  }

  .message p {
    text-align: center;
  }
  .other-side-attraction .intro-text p {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }
  .german-lesons-head h1 {
    color: var(--hover-color);
    font-size: 20px;
    font-weight: 450;
  }

  .german-flag img {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }

  .german-info h1 {
    text-align: center;
  }

  .german-info p {
    text-align: center;
  }
  .others1:nth-child(1) {
    transition-delay: 1s;
  }

  .others1:nth-child(2) {
    transition-delay: 1s;
  }

  .others1:nth-child(3) {
    transition-delay: 1s;
  }
  .others1:nth-child(4) {
    transition-delay: 1s;
  }
  .others1:nth-child(5) {
    transition-delay: 1s;
  }
  .others1:nth-child(6) {
    transition-delay: 1s;
  }
  .stage {
    flex-direction: column;
  }
  .stage:nth-child(1) {
    height: 360px;
  }
  .container {
    margin-top: 50px;
  }
  .seccond-part img {
    width: 360px;
  }
  #software-engieneering {
    margin-top: -90px;
  }
  .germanlessons {
    height: 370px;
  }
  .programs {
    gap: 0.5em;
    flex-direction: column;
  }
} */
