/*===============================================
Enrollment page 
================================================*/
.enrollment-body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#enrollment-form {
  background: #050f17;
  flex: 1 1 auto;
  margin-top: var(--nav-height);
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  background: whitesmoke;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;

  @media (min-width: 992px) {
    width: 70%;
  }
}

.container .info {
  background: var(--nav-background);
  border-radius: 12px 12px 0px 0px;
  padding: 12px;
}

.container .info h1 {
  text-align: center;
  color: var(--text);
  font-weight: 400;
}

.enroll-form .block {
  h1 {
    margin-bottom: 8px;
  }

  & + & {
    margin-top: 20px;
  }

  span {
    color: #050f17;
    font-size: 14px;
    font-style: italic;
    display: block;
    font-weight: bold;
    /* margin: -12px auto 20px; */
    margin-bottom: 16px;
  }
}

.enroll-form {
  padding: 40px;

  @media (min-width: 992px) {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.control {
  display: flex;
  justify-content: flex-start;
  column-gap: 12px;

  @media (max-width: 767.98px) {
    flex-direction: column;
    row-gap: 4px;

    label {
      min-width: auto;
      align-self: flex-start;
    }

    &.inline {
      flex-direction: row;
    }
  }

  & + & {
    margin-top: 16px;
  }

  label {
    min-width: 250px;
    color: #050f17;
    font-size: 14px;
    text-transform: capitalize;
  }
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

input.input-control {
  height: calc(1.5em + 0.75rem + 2px);

  &.sm {
    height: calc(1.5em + 0.5rem + 2px);
  }

  &.lg {
    height: calc(1.5em + 1rem + 2px);
  }
}

.input-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }

  &::placeholder {
    color: #6c757d;
    opacity: 1;
  }

  &:disabled,
  &[readonly] {
    background-color: #e9ecef;
    opacity: 1;
  }

  &.sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }

  &.lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
  }

  &.is-valid {
    border-color: #198754;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,...");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }

  &.is-invalid {
    border-color: #dc3545;
    padding-right: 2.25rem;
    background-image: url("data:image/svg+xml,...");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}
