body {
  background-color: var(--secon-bg-color);
}

.galleryss {
  flex: 1 1 auto;
  margin-top: var(--nav-height);
  padding-left: 20px;
  padding-right: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  object-fit: contain;
  border-top: 5px solid var(--hover-color);
  border-bottom: 5px solid var(--hover-color);
  border-radius: 12px;
}

.gallery img:hover {
  transform: scale(1.1);
  border-radius: 20px;
  transition: 0.5s;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow a {
  color: goldenrod;
}

.arrow a i {
  font-size: 40px;
}
