@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,200;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

:root {
  --big-font: 2rem;
  --background-color: #0f2a3d;
  --text-color: #0f2a3d;
  --seccond-bg: #b64638;
  --whitesmoke-col: #f5f5f5;
  --hover-color: #12f7ff;
  --bg-color: #250821;
  --secon-bg-color: #292e33;
  --neon-box-shadow: 0 0.2rem 0.5rem #12f7ff;
  --nav: #ffd700;
  --gold-border: #d0b30e;
  --text: #ffefce;
  --nav-background: #0f2a3d;
  --third-background: #050f17;
  --nav-height: 70px;
}

html,
body {
  overflow-x: hidden;
}

.container-fluid {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1400px) {
    max-width: 1320px;
  }
}

.section {
  padding: 40px 0;
  width: 100vw !important;

  @media (min-width: 992px) {
    padding: 80px 0;

    &.lg {
      padding: 160px 0;
    }
  }
}

.d-flex {
  @media (min-width: 768px) {
    display: flex;
  }
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start !important;
}

.align-stretch {
  align-items: stretch !important;
}

.col {
  width: 100%;
  padding: 20px;

  @media (min-width: 992px) {
    width: 50%;
  }
}

.col-lg-3 {
  width: 100%;
  padding: 20px;

  @media (min-width: 768px) {
    max-width: calc(50% - 40px);
  }

  @media (min-width: 1200px) {
    max-width: calc(33.333% - 40px);
  }
}

.col-lg-4 {
  width: 100%;
  padding: 20px;

  @media (min-width: 768px) {
    max-width: calc(50% - 60px);
  }

  @media (min-width: 1200px) {
    max-width: calc(33.333% - 60px);
  }

  @media (min-width: 2024px) {
    max-width: calc(28% - 60px);
  }
}

.img-responsive {
  width: 100%;
}

a:not(.button) {
  color: var(--gold-border);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* ///////////////////////// definig the nav styles /////////////////*/
nav {
  display: flex;
  justify-content: center;
  background: #0f2a3d;
  height: var(--nav-height);
  position: fixed;
  width: 100%;
  z-index: 300;
  padding: 0 20px;
}

nav .container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-seds {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-seds img {
  width: 100px;
}

.head {
  color: var(--nav);
  font-weight: 500;
  font-size: 15px;
  flex-grow: 1;
  text-align: center;
}

ul.navs {
  list-style: none;
  display: flex;
  column-gap: 30px;
  align-items: center;
}

.navs li {
  display: flex;
}

.navs a {
  text-decoration: none;
  color: #ffefce;
}

.navs a,
.menu-items a {
  &.active {
    color: var(--nav) !important;
    text-decoration: underline;
  }
}

#menu-sidebar {
  position: fixed;
  z-index: 3001;
  width: 100%;
  background: #0f2a3d;
  display: none;
  transition: all 0.4s ease;
  padding: 40px;

  .back {
    padding: 4px 0;
    display: block;
    width: 100%;
  }
}

#menu-icon {
  font-size: 30px;
  color: #ffefce;
  display: none;
}

#menu-icon:hover {
  cursor: pointer;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.close-button {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  right: 30px;
  top: 12px;
  padding: 4px;
  background: var(--bg-color);
  border-radius: 8px;
}

.close-button i {
  font-size: 25px;
  color: var(--hover-color);
}

.menu-items .back a {
  color: #ffefce;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.navs a:hover {
  color: var(--nav);
  text-shadow: 0 0 10px rgba(18, 247, 255, 0.6),
    0 0 20px rgba(18, 247, 255, 0.6), 0 0 30px rgba(18, 247, 255, 0.6),
    0 0 40px rgba(18, 247, 255, 0.6), 0 0 70px rgba(18, 247, 255, 0.6),
    0 0 80px rgba(18, 247, 255, 0.6), 0 0 100px rgba(18, 247, 255, 0.6),
    0 0 150px rgba(18, 247, 255, 0.6);
}

/* ///////////////////////// definig the hero section  styles /////////////////*/

/* section{
    padding:10px 5%;
} */

.hero {
  background-color: #050f17;
  margin-top: var(--nav-height);
}

.right-side .image {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 300;
}

.image img {
  top: 10;
  left: 50;
  height: 90px;
  width: 50px;
}

.contents {
  background: whitesmoke;
  border-radius: 40px;
  transition: all 3s linear;
  transition-delay: 0.3s;
  padding: 32px;
}

.contents p {
  margin: 40px 0 24px;
}

.change-text h1 {
  font-size: 30px;
  display: inline-flex;
  color: var(--text-color);
  font-weight: 700;
  overflow-y: auto;

  @media (max-width: 600px) {
    margin-bottom: 32px;
  }
}

.change-text h1 .word {
  position: absolute;
  padding-right: 72px;
  display: flex;
  opacity: 0;
  flex-wrap: wrap;
  line-height: 1;
  overflow-y: auto;
}

.change-text h1 .word .letter {
  transform-origin: center center 25px;
}

.change-text h1 .word .letter.out {
  transform: rotateX(90deg);
  transition: 0.32s cubic-bezier(0.6, 0, 0.7, 0.2);
}

.change-text h1 .word .letter.in {
  transition: 0.38s ease;
}

.change-text h1 .word .letter.behind {
  transform: rotateX("90deg");
}

.left-side p {
  color: var(--text-color);
  font-size: 15px;
  padding-left: 10px;
  padding-top: 40px;
}

.contents .ref {
  text-align: center;
}

.left-side .ref a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.hero-img {
  border-radius: 24px;
}

#popup {
  position: fixed;
  width: 40%;
  height: 45vh;
  top: 40%;
  left: 50%;
  z-index: 3007;
  background: white;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  visibility: hidden;
  padding: 40px;
  /* padding-bottom: 100px; */
}

.close-display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 10px;
  flex-wrap: wrap;
  color: var(--background-color);
  text-align: center;
}

.close-display h1:hover {
  cursor: pointer;
}

.popup-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

#popup h1 {
  text-align: center;
  margin-bottom: 10px;
}

.popup-message p {
  text-align: center;
}

.overlay {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
  transition: all ease;
  background: rgb(217, 209, 209);
  z-index: 299;
  position: fixed;
}

#foreign button {
  transition: 2ms;
}

#popup .button:hover {
  cursor: pointer;
  background-color: #f1ce03;
}

#local a {
  transition: 2ms;
}

/* ///////////////////////// definig the about section  styles /////////////////*/

.about {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em; */
  background: var(--secon-bg-color);
  /* height: 100%;
  min-height: 80vh;
  color: #fdfdfd;
  flex-wrap: wrap; */
}

.about .img {
  position: relative;
  text-align: center;
}

.img img {
  max-width: 400px;
  height: auto;
}
.about-text {
  color: var(--text-color);
  text-align: left;
}

.about-text h3 {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 600;
}

.about-text p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8rem;
}

.about-text .btn {
  margin-top: 32px;
}

.info-about1,
.info-about2,
.info-about3,
.info-about4 {
  background: var(--bg-color);
  font-size: 0.5rem;
  position: absolute;
  padding: 10px;
  width: 90px;
  height: 90px;
  border-radius: 69% 31% 66% 34% / 21% 30% 70% 79%;
  display: block;
  box-shadow: var(--neon-box-shadow);
  border: 1px solid var(--hover-color);
  outline: 2px solid var(--bg-color);
  z-index: 100;
  animation: morph 6s linear infinite;
}

.info-about3 span {
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
}

.info-about2 span {
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
}

.info-about4 span {
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
}

.info-about1 span {
  font-size: 20px;
  font-weight: 700;
  color: #fdfdfd;
}

.info-about1 {
  left: 15%;
  top: 34%;
  color: #fdfdfd;
}

.info-about4 {
  left: 12%;
  top: 70%;
  color: #fdfdfd;
}

.info-about2 {
  left: 59%;
  top: 15%;
  color: #fdfdfd;
}

.info-about3 {
  left: 69%;
  top: 70%;
  color: #fdfdfd;
}

.info-about1 p {
  font-size: 9px;
  color: #fdfdfd;
}
.info-about2 p {
  font-size: 9px;
  color: #fdfdfd;
}
.info-about3 p {
  font-size: 9px;
  color: #fdfdfd;
}

.info-about4 p {
  font-size: 9px;
  color: #fdfdfd;
}

.about-text {
  color: #fdfdfd;
}
/* ///////////////////////// definig the review section  styles /////////////////*/

.reviews {
  background: #050f17;
  color: white;
  /* padding-top: 10px;
  padding-bottom: 10px; */
}

.reviews h1 {
  text-align: center;
}

.reviews .wrapper {
  display: flex;
  overflow-x: scroll;
  padding: 24px;
  /* width: 1290px; */
  width: 100%;
  /* height: 380px; */
  scroll-snap-type: mandatory;
  scroll-padding: 24px;
  gap: 20px;
  /* margin: 1rem auto; */
}
.reviews .wrapper::-webkit-scrollbar {
  height: 6px;
}

.reviews .wrapper::-webkit-scrollbar-track {
  background-color: var(--secon-bg-color);
}

.reviews .wrapper::-webkit-scrollbar-thumb {
  background-color: var(--hover-color);
  width: 0;
  border-radius: 12px;
}

.item p {
  text-align: center;
}

.item .images {
  text-align: center;
}

.item .images img {
  height: 90px;
  width: 100px;
  object-fit: contain;
  border-radius: 50%;
}

.wrapper .item {
  flex: 0 0 30%;
  padding: 24px;
  border-radius: 8px;
  scroll-snap-align: start;
  background: var(--whitesmoke-col);
  color: #050f17;
}

.item:hover {
  transform: translateY(-0.7rem);
  transition: 2ms;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow a {
  color: goldenrod;
}

.arrow a i {
  font-size: 40px;
}

/* /////////////////////footer styling//////////////////////////*/

footer {
  background-color: #0f2a3d;
  width: 100%;
  color: var(--nav);
  padding: 40px;
  text-transform: capitalize;
}

footer h4 {
  /* font-size: 20px; */
  text-align: center;
  font-weight: normal;
  font-size: 14px;
}

/* /////////////////////Keyframes coloumn//////////////////////////*/
@keyframes morph {
  0%,
  100% {
    border-radius: 40% 60% 70% 30%/40% 40% 60% 50%;
  }
  30% {
    border-radius: 70% 30% 50% 50%/30% 30% 70% 50%;
  }
  60% {
    border-radius: 100% 60% 60% 30%/100% 100% 60% 60%;
  }
  80% {
    border-radius: 69% 31% 66% 34%/21% 30% 70% 79%;
  }
}

/*/////////////////media querry /////////////////////////////////////*/

@media screen and (max-width: 991.99px) {
  ul.navs {
    display: none;
  }

  .head {
    h1 {
      font-size: 1.2rem;
    }
  }

  #menu-icon {
    display: block;
  }

  #menu-sidebar.shown {
    display: block;
  }

  .left-side {
    margin-right: 60px;
  }

  /* .hero {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 120px;
    min-height: 90vh;
  } */

  .contents {
    border-radius: 20px;
  }

  .contents h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--text-color);
  }

  .left-side {
    margin-top: -220px;
  }

  .right-side img {
    margin-top: 75px;
    position: static;
    width: 100%;
  }

  #popup {
    position: fixed;
    width: 60%;
    height: 45vh;
  }
  #popup h1 {
    text-align: center;
    font-size: 20px;
  }
  .left-side p {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    text-align: left;
  }

  .about-text {
    color: var(--hover-color);
    text-align: center;
  }
  .info-about1 {
    left: 5%;
    top: 17%;
    color: #fdfdfd;
  }

  .info-about4 {
    left: 5%;
    top: 80%;
    color: #fdfdfd;
  }

  .info-about2 {
    left: 65%;
    top: 15%;
    color: #fdfdfd;
  }

  .info-about3 {
    left: 73%;
    top: 70%;
    color: #fdfdfd;
  }
  .image {
    margin-top: -150px;
    margin-left: 10px;
  }
  .image img {
    width: 370px;
    height: 500px;
    object-fit: contain;
    margin-left: 5px;
  }
  .reviews .wrapper {
    /* width: 100%;
    overflow-x: auto; */
    scroll-snap-type: x mandatory;
  }
  /* .reviews .wrapper { */
  /* margin-bottom: 40px; */
  /* } */
  .reviews h1 {
    margin-top: 10px;
  }
  .wrapper .item {
    flex: 0 0 90%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* .item .images img { */
  /* margin-left: 100px; */
  /* } */
  /* .about-text .btn { */
  /* display: flex;
    margin-left: 110px;
    margin-bottom: 30px; */
  /* } */

  .close-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
}

@media screen and (max-width: 570px) {
  .head {
    h1 {
      display: none;
    }
  }
}

/* ============================================= */
/* generics */
/* ============================================= */

.button {
  display: inline-block;
  background-color: var(--nav);
  padding: 16px 40px;
  border-radius: 16px;
  color: var(--third-background);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }

  &.bordered {
    outline: 1px solid var(--gold-border);
  }

  &.lg {
    padding: 24px 72px;
    border-radius: 20px;
  }

  &.full-width {
    display: block;
    width: 100%;
  }

  &.outline {
    background-color: transparent;
    border: 1px solid var(--nav);
    color: var(--nav);

    &:hover {
      background-color: var(--nav);
      color: var(--third-background);
    }
  }
}

.text-center {
  text-align: center;
}

.text-color {
  color: var(--text);
}

.p-spaced {
  line-height: 1.8;
}

body.full-height {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
