@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,800;1,200;1,700&display=swap');

/* ///////////////////////// definig the boddy property /////////////////*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins';
    
}

:root{
    --big-font:2.0rem;
    --background-color:#0F2A3D;
    --text-color:#0F2A3D;
    --seccond-bg:#B64638;
    --whitesmoke-col:#F5F5F5;
    --hover-color:#12f7ff;
    --bg-color:#250821;
    --secon-bg-color:#292e33;
    --neon-box-shadow: 0 0.2rem 0.5rem #12f7ff;
}

/* ///////////////////////// definig the nav styles /////////////////*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--secon-bg-color);
    margin-top: 0;
    height: 60px;
    position: fixed;
    z-index: 300;
    width: 100%;
    top: 0;
}

.head{
    color: var(--hover-color);
    font-weight: 50;
    font-size: 15px;
}

.navs ul{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-left: 50px;
}

.navs li{
   display: flex;
}

#menu-sidebar{
    position: fixed;
    z-index: 3001;
    height:150px;
    width:100%;
    background: var(--hover-color);
    top: 0;
    visibility: hidden;
}

#menu-icon{
    font-size: 30px;
    color: var(--hover-color);
    visibility: hidden;
}

.menu-items{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.close-button{
    display: flex;
    justify-content: flex-end;
    
}

.close-button i{
    font-size: 25px;
    background: var(--bg-color);
    color: var(--hover-color);
    margin-right:10px;
    border-radius:2px;
}

.menu-items .back a{
    color: var(--bg-color);
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}


.navs a{
    text-decoration: none;
    color: var(--hover-color);
    font-weight: 200px;
    font-size: large;
}

.navs a:hover{
    color: var(--hover-color);
    text-shadow:0 0 10px rgba(18,247,255,0.6),
    0 0 20px rgba(18,247,255,0.6),
    0 0 30px rgba(18,247,255,0.6),
    0 0 40px rgba(18,247,255,0.6),
    0 0 70px rgba(18,247,255,0.6),
    0 0 80px rgba(18,247,255,0.6),
    0 0 100px rgba(18,247,255,0.6),
    0 0 150px rgba(18,247,255,0.6);
}
/*///////////////// About us section for /////////////////////////////*/
section{
    padding:10px 5%;
}

.talk{
    min-height: 80vh;
    background: var(--bg-color);
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-top: 20px;
    flex-wrap: wrap;
}

.first-part{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.first-part h1{
    color: var(--hover-color);
    font-size: 40px;
}

.first-part p{
    color:var(--hover-color);
    font-size: 15px;
}

.seccond-part{
    min-height: 400px;
    width: 400px;
    background: var(--secon-bg-color);
    margin-top: 60px;
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    border-bottom: 8px solid var(--hover-color);
    border-top:8px solid var(--hover-color);
}

.seccond-part img{
    height: 300px;
    width: 400px;
    margin-top: 20px;
    position: absolute;
    top: 0;
    right:0;
}

/*///////////////// About us section for /////////////////////////////*/

.software-engieneering{
    min-height: 200vh;
    background: var(--secon-bg-color);
    width: 100%;
}

.soft-text h2{
    font-size: 30px;
    color: var(--hover-color);
    text-align: center;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    border-bottom: 2px solid #F5F5F5;
    flex-wrap: wrap;
}

.message {
    color: #12f7ff;
    width: 50%;
}

.message p{
    font-size: 15px;
}

.contents .img img {
    width: 300px;
    height:300px ;
    object-fit: contain;
    
}

.programs{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-wrap: wrap;
}

.ms h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--hover-color);
    font-size: 30px;
    font-weight: 500;
}

.program1{
    width: 300px;
    height: 300px;
    background:var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 60px;
    border-bottom: 5px solid #12f7ff;
    border-top: 5px solid #12f7ff;
}

.program1:hover{
    transform: translateY(-.7rem);
    transition: 2ms;
}

.imgs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -10px;
}

.imgs img{
    object-fit: contain;
    height: 100px;
    width: 200px;
}

.info{
    margin-top: 10px;
}

.info h1{
    color: var(--hover-color);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: 600;
    word-wrap: break-word;
}

.info p{
    color:var(--hover-color);
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

/* /////////////////////other branches in it//////////////////////////*/

.other-side-attraction .intro-text h1{
    text-align: center;
    color: var(--hover-color);
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

.other-side-attraction .intro-text p{
    color: #12f7ff;
    font-size: 15px;
    font-weight: 400;
    width: 70%;
    margin-left: 200px;
}

.others-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    gap: 3em;
   
}
.others1{
    height: 360px;
    width: 300px;
    background: var(--bg-color);
    border-radius: 10px;
    border-bottom: 5px solid #F5F5F5;
    border-top: 5px solid var(--hover-color);
}

.others1:hover{
    transform: translateY(-.7rem);
    transition: 2ms;
}


.imgss{
    display: flex;
    justify-content:center;
}

.imgss img{
    object-fit: contain;
    height: 150px;
    width: 250px;
}

.others1 h1{
    color: var(--hover-color);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
}

.others1 p{
    color: var(--hover-color);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

/* /////////////////////german lessons styling styling//////////////////////////*/

.german-lessons{
    background: var(--bg-color);
}

.german-lessons h1{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: var(--hover-color);
}

.german-lessons p{
    text-align: center;
    color:#12f7ff;
    margin-bottom: 20px;
}

.german-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.germanlessons{
    height: 450px;
    width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background:var(--secon-bg-color);
    border-radius: 10px;
    border-bottom: 5px solid #12f7ff;
    border-top: 5px solid #12f7ff;
    margin-bottom: 20px;
}

.german-info h1{
    margin-bottom: 7px;
    margin-top: 7px;
    font-size: 25px;
    color: var(--hover-color);
}

.german-info p{
    font-size: 15px;
    color: var(--hover-color);
}

.german-image img{
    height: 200px;
    width: 300px;
    object-fit: contain;
}

/* /////////////////////footer styling//////////////////////////*/

footer{
    background-color: var(--secon-bg-color);
    height: 7vh;
    width: 100%;
    color: var(--hover-color);
}

footer h1{
    font-size: 20px;
    text-align: center;
    padding-top: 3px;
}

@media screen and (max-width:768px) {

    .navs{
        display: none;
    }
    #menu-icon{
        visibility: visible;
    }
    .first-part{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
    }
    
    .first-part h1{
        text-align: center;
    }
    
    .first-part p{
        text-align: center;
    }
    .seccond-part{
        margin-top: -25px;
    }
    .message {
        width: 100%;
    }
    
    .message p{
       text-align: center;
    }
    .other-side-attraction .intro-text p{
        width: 100%;
        margin-left:0;
        text-align: center;
    }
}